[submodule "vendor/GLM"]
	path = vendor/GLM
	url = https://github.com/g-truc/glm.git
	branch = master
	shallow = true
[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/glfw/glfw.git
	branch = master
	shallow = true
[submodule "vendor/DearImgui_Docking/imgui"]
	path = vendor/DearImgui_Docking/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	shallow = true
[submodule "temp/imgui"]
	path = temp/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
	branch = docking
[submodule "temp2/imgui"]
	path = temp2/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
	branch = docking
